<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDemw3GJcfW-vEFzcmIT6225r9fuGkbIQA</string>
	<key>GCM_SENDER_ID</key>
	<string>230570758998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.totalvideo.FirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-662b5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-662b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230570758998:ios:5bc6fe7bcc7fbf7409fcf7</string>
</dict>
</plist>